
body {
  display: flex; /* Enables Flexbox layout */
  flex-direction: column; /* Stacks elements vertically */
  align-items: center; /* Centers elements horizontally */
  justify-content: center;
  text-align: center; 
}

/* Styles for forms to align the form elements */
.myForm {
  display: flex;
  flex-direction: column; /* Stacks form elements vertically */
  align-items: center; 
  justify-content: center; /* Centers the form elements vertically */
}


.myForm label {
  display: flex; 
  flex-direction: column; 
}
